/*
Reset Style Sheet
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Trikromatikz Style Sheet
*/
.wrapper{
	max-width: 960px;
  margin: 0px auto;
}
body {
   height:100%;
}
.socialmedia{
	margin: 20px auto;
}
.socialmedia ul li{
	display: flex;
	float: right;
	list-style: none;
}
.socialmedia ul li a{
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	margin: 0px 8px;
	color: black;
}
.header{
	width:100%;
	height: 100px;
  margin: 50px auto;
}
.header img{
  margin-top: 7px;
  width: 80px;
  height: 70px;
	float: left;
}
.header h3{
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 32px;
  color: #22d434;
  margin-top: 34px;
  padding-left: 10px;
  float: left;
}
.header nav{
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}
.header nav ul{
	height: 20px;
}
.header nav ul li{
  display: inline-block;
  margin-left: 20px;
}
.header nav ul li a{
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  font-weight: 500;
  color: black;
	transition: all 1s ease-in-out;
	text-decoration: none;
}
.header nav ul li:hover a{
	color: #22d434;
	font-size: 28px;
	text-shadow: -10px 12px black;
}
/*Content Code*/
.content{
padding-bottom: 20px;
}
.content img{
  margin: 40px auto;
	width: 582px;
	height: 672px;
  outline: 6px solid #919866;
  display: block;
}
.content ul li{
  display: inline-block;
  margin-left: 40px;
  text-align: center;
  padding: 20px 10px;
}
.content ul li h2{
	font-size: 22px;
	font-family: 'Caveat Brush', cursive;
	text-transform: uppercase;
	text-shadow: -10px 6px #6B6B6B;
	color: white;
	width: auto;
	margin: 40px 1%;
  text-decoration-color: none;
}
.aboutus{
	font-family: 'Courgette', cursive;
	font-size: 26px;
}
/* Footer Code*/
.footer{
  height: 100px;
  bottom: 0;
	color: #75F127;
	background-color: #222;
	font-family: 'Indie Flower', cursive;
	font-weight: 300;
  position: relative;
  clear: both;
}
.footer nav{
  float: right;
  margin-right: 20px;
	margin-top: 37px;
}
.footer nav ul{
	height: 5px;
}
.footer nav ul li{
  display: inline-block;
  margin-left: 20px;
}
.footer nav ul li a{
  font-family: 'Indie Flower', cursive;
  font-weight: 500;
	font-size: 16px;
  color: #75F127;
	transition: all 1s ease-in-out;
	text-decoration: none;
}
.footer nav ul li:hover a{
	color: #22d434;
	font-size: 24px;
	text-shadow: -10px 12px yellow;
}
.footer p{
	font-size: 18px;
  padding-left: 20px;
}
/*Contact Form*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* Gallery */
.gallerybox1 img{
	height:478px;
	width:478px;
}
.gallerybox2{
	padding-bottom: 40px;
}
.gallerybox2 img{
	height:478px;
	width:478px;
	transform:rotate(90deg);
}
